.contact {
	font-size: 30px;
	text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
}

.con1, .con2, .con3 {
	font-family: $jose;
	margin: 40px;
	color: black;
}

.fa2 {
	font-size: 30px;
	color: black;

	&:hover {
		color: #80D6D6;
	}
}

.lower {
	font-weight: bold;
}

//media queries
@media (max-width: 501px) {

	.lower {
		text-transform: lowercase;
	}

}

@media (max-width: 400px) {

	.lower {
		font-size: 23px;
	}

}