body {
  margin: 0;
  background-color: white;
}

.content {
  margin: 90px 90px 120px 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.diamonds-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border: 10px solid #231f20;
  transform: rotate(45deg);
  background: rgba(255,255,255, 0);
  text-align: center;
  transition: 0.25s;

  &:hover {
    background: #231f20;
    transition: 0.25s;
    z-index: 1;

    .diamond {
      color: #bee7e7;
      border-top: 2px solid #bee7e7;
      border-bottom: 2px solid #bee7e7;
    }
  }
}

a {
  text-decoration: none;
  color: black;
}

.diamond {
  font-size: 30px;
  font-family: $jose;
  text-transform: uppercase;
  transform: rotate(-45deg);
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  padding: 10px 5px 5px 5px;
}

.con {
  font-size: 29px;
}


//sticky footer
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -40px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 40px; 
}

//media queries
@media (max-width: 1186px) {
  .diamonds-wrap {
    width: 220px;
    height: 220px;
  }

  .diamond {
    font-size: 27px;
  }

  .con {
    font-size: 26px;
  }
}

@media (max-width: 1138px) {
  .diamonds-wrap {
    width: 210px;
    height: 210px;
  }
}


@media (max-width: 1056px) {
  .diamonds-wrap {
    width: 170px;
    height: 170px;
  }

  .content {
    margin-right: 50px;
    margin-left: 50px;
  }

  .diamond {
    font-size: 24px;
  }

  .con {
    font-size: 23px;
  }
 
}

@media (max-width: 942px) {
  .diamonds-wrap {
    width: 150px;
    height: 150px;
  }

  .content {
    margin-right: 20px;
    margin-left: 20px;
  }

  .diamond {
    font-size: 22px;
  }

  .con {
    font-size: 20px;
  }
}

@media (max-width: 861px) {
  .diamonds-wrap {
    width: 140px;
    height: 140px;
  }

  .content {
    margin-right: 10px;
    margin-left: 10px;
  }

  .diamond {
    font-size: 21px;
  }

  .con {
    font-size: 19px;
  }
}

@media (max-width: 630px) {
  .diamonds-wrap {
    width: 200px;
    height: 200px;
  }
  
  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 5px;
    margin-left: 5px;
  }

  .diamond {
    font-size: 30px;
  }
}