//fonts
$playfair: 'Playfair Display SC', serif;
$lato: 'Lato', sans-serif;
$dawn: 'Dawning of a New Day', cursive;
$point: 'Poiret One', cursive;
$lobster: 'Lobster', cursive;
$jose: 'Josefin Slab', serif;
$lines: 'Monoton', cursive;
$lime: 'Limelight', cursive;
$pacifico: 'Pacifico', cursive;
$ama: 'Amatic SC', cursive;
$megrim: 'Megrim', cursive;

//colors
$greyblue: #688898;
$freshgreen: #5EDA9E;
$purplecandy: #BDA0CB;
$pink: #FF92BB;
$lightblue: #C4DFE6;